@import url(http://fonts.googleapis.com/css?family=Cabin:700);
@font-face {
  font-family: "typicons";
  src: url("/static/fonts/typicons.eot");
  src: url("/static/fonts/typicons.eot?#iefix") format('embedded-opentype'),
       url("/static/fonts/typicons.woff") format('woff'),
       url("/static/fonts/typicons.ttf") format('truetype'),
       url("/static/fonts/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal; }