header#head {
    background-color: #1A1A1A;
    background-image: url(/static/images/bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% -436px; }
header#head a {
    color: #FCFDF6;
    border-bottom: 1px solid #DDDDDB; }
header#head a:hover {
    border-bottom-color: #FCFDF6; }
header#head h1 {
    font-size: 3em;
    padding: 54px 24px 19px 24px;
    font-family: "Cabin", sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.85);
    font-weight: bold; }
header#head nav {
    padding: 0 0 30px 24px;
    font-weight: bold; }
header#head nav li {
    display: inline-block; }
header#head nav li:not(:first-of-type):before {
    content: "â—";
    display: inline-block;
    margin: 0 10px 0 6px;
    color: #DDDDDB; }
header#head nav li:nth-of-type(1) > a {
    color: #3B8DBD; }
header#head nav li:nth-of-type(2) > a {
    color: #82B964; }
header#head nav li:nth-of-type(3) > a {
    color: #D24D33; }