nav#menu a.blue {
    color: #3B8DBD; }
nav#menu a.green {
    color: #82B964; }
nav#menu a.red {
    color: #D24D33; }
nav#menu > ol {
    padding-bottom: 20px;
    text-align: right; }
nav#menu > ol > li {
    display: inline-block;
    margin: 0 0.25em; }
nav#menu > ol > li:nth-of-type(-n+4) {
    float: left; }
nav#menu > ol > li > a {
    font-size: 28px;
    color: #3B8DBD;
    font-family: "typicons"; }
nav#menu > ol > li:nth-of-type(5) > a {
    color: #82B964; }
nav#menu > ol > li:nth-of-type(n+6) > a {
    color: #D24D33; }

@media print {
    nav#menu {
        display: none; }
}