# MacOs
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Linux
!.gitignore
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# TextMate
*.tmproj
*.tmproject
tmtags

# Sublime
*.sublime-workspace

# ikrpg
_site
Makefile
_posts/0000-01-01-Todo.html
_posts/0000-01-01-Example-Markup.html
_posts/0000-01-01-Old-Character-Sheets.html
README.md
_posts/Careers
_posts/Combat-Tool
_posts/Adventures
_posts/Adventure-Generator
_posts/Character-Bootstrap
_posts/0000-01-01-Scenarios.html
static/javascripts/combat.js
static/javascripts/character-bootstrap.js
