# MacOs
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Linux
!.gitignore
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# TextMate
*.tmproj
*.tmproject
tmtags

# Sublime
*.sublime-workspace

# ikrpg
_site
Makefile
_posts/0000-01-01-Todo.html