/*div.data label { display: block; }*/
.character-generator-table tbody td:nth-of-type(2) { text-align: left; }

form#import-export { display: none; }
form#import-export:target { display: block; }
#seed { display: block; width: 100%; max-height: 26px; overflow: none; }

.character-sheet {
    margin-top: 3em;
    width: 980px; }
.fmf.page1 {
    height: 711px;
    background: url(/static/images/sheet/FMF-1.jpeg) no-repeat;
    background-size: 980px 711px; }
.fmf.page2 {
    height: 688px;
    background: url(/static/images/sheet/FMF-2.jpeg) no-repeat;
    background-size: 980px 688px; }
.iku.page1 {
    height: 713px;
    background: url(/static/images/sheet/IKU-1.jpeg) no-repeat;
    background-size: 980px 713px; }
.iku.page2 {
    height: 689px;
    background: url(/static/images/sheet/IKU-2.jpeg) no-repeat;
    background-size: 980px 689px; }
.character-sheet input { position: absolute; font-size: 13px; padding: 2px 1px; font-family: Arial; border: 0; background-color: transparent; }
.character-sheet .hero-name { margin: 20px 0 0 4px; width: 236px; }
.character-sheet #sex { margin: 20px 0 0 250px; width: 39px; }
.character-sheet #definingcharacteristics { margin: 20px 0 0 300px; width: 304px; }
.character-sheet #weight { margin: 20px 0 0 619px; width: 82px; }
.character-sheet #archetype { margin: 48px 0 0 4px; width: 86px; }
/*
.character-sheet #archetype-div { position: absolute; margin: 45px 0 0 4px; max-width: 500px; overflow: hidden; }
.character-sheet #archetype { display: inline-block; min-width: 86px; font-size: 13px; height: 15px; padding: 2px 1px; font-family: Arial; color: black; 
    border-style: solid;
    border-width: 3px;
    border-color: transparent;
    border-radius: 4px;
 }
.character-sheet #archetype:focus { border-color: rgba(59, 153, 252, 0.35); outline: none; }
*/
.character-sheet #race { margin: 48px 0 0 105px; width: 78px; }
.character-sheet #careers { margin: 48px 0 0 198px; width: 221px; }
.character-sheet #faith { margin: 48px 0 0 333px; width: 86px; }
.character-sheet #playername { margin: 48px 0 0 433px; width: 172px; }
.character-sheet #height { margin: 48px 0 0 619px; width: 82px; }
.character-sheet #level { margin: 20px 0 0 720px; width: 79px; text-align: center; }
.character-sheet #xp { margin: 48px 0 0 720px; width: 79px; text-align: center; }
.character-sheet div#portrait {}
.character-sheet #phy { margin: 330px 0 0 10px; width: 42px; font-size: 30px; text-align: center; }
.character-sheet #phymax { margin: 352px 0 0 60px; width: 18px; text-align: center; }
.character-sheet #agl { margin: 443px 0 0 10px; width: 42px; font-size: 30px; text-align: center; }
.character-sheet #aglmax { margin: 465px 0 0 60px; width: 18px; text-align: center; }
.character-sheet #str { margin: 363px 0 0 92px; width: 32px; font-size: 20px; text-align: center; }
.character-sheet #strmax { margin: 376px 0 0 129px; width: 13px; text-align: center; }
.character-sheet #int { margin: 556px 0 0 10px; width: 42px; font-size: 30px; text-align: center; }
.character-sheet #intmax { margin: 578px 0 0 60px; width: 18px; text-align: center; }
.character-sheet #prw { margin: 428px 0 0 92px; width: 32px; font-size: 20px; text-align: center; }
.character-sheet #prwmax { margin: 441px 0 0 129px; width: 13px; text-align: center; }
.character-sheet #poi { margin: 476px 0 0 92px; width: 32px; font-size: 20px; text-align: center; }
.character-sheet #poimax { margin: 489px 0 0 129px; width: 13px; text-align: center; }
.character-sheet #computed-spd { margin: 315px 0 0 92px; width: 32px; font-size: 20px; text-align: center; }
.character-sheet #spdmax { margin: 328px 0 0 129px; width: 13px; text-align: center; }
.character-sheet #arc { margin: 541px 0 0 92px; width: 32px; font-size: 20px; text-align: center; }
.character-sheet #arcmax { margin: 554px 0 0 129px; width: 13px; text-align: center; }
.character-sheet #per { margin: 589px 0 0 92px; width: 32px; font-size: 20px; text-align: center; }
.character-sheet #permax { margin: 602px 0 0 129px; width: 13px; text-align: center; }
.character-sheet #wil { margin: 648px 0 0 50px; width: 48px; font-size: 30px; text-align: center; }
.character-sheet #rat1 { display: block !important; }
.character-sheet #rat1 .name { font-size: 11px; padding-top: 3px; margin: 114px 0 0 224px; width: 103px; }
.character-sheet #rat1 .rng { margin: 106px 0 0 341px; width: 25px; text-align: center; }
.character-sheet #rat1 .rat { margin: 106px 0 0 375px; width: 25px; text-align: center; }
.character-sheet #rat1 .aoe {}
.character-sheet #rat1 .pow { margin: 106px 0 0 409px; width: 25px; text-align: center; }
.character-sheet #rat1 .notes { font-size: 11px; padding-top: 3px; margin: 138px 0 0 224px; width: 216px; }
.character-sheet #rat1 .ammo { margin: 138px 0 0 341px; width: 99px; }
.character-sheet #rat2 { display: block !important; }
.character-sheet #rat2 .name { font-size: 11px; padding-top: 3px; margin: 182px 0 0 224px; width: 103px; }
.character-sheet #rat2 .rng { margin: 174px 0 0 341px; width: 25px; text-align: center; }
.character-sheet #rat2 .rat { margin: 174px 0 0 375px; width: 25px; text-align: center; }
.character-sheet #rat2 .aoe {}
.character-sheet #rat2 .pow { margin: 174px 0 0 409px; width: 25px; text-align: center; }
.character-sheet #rat2 .notes { font-size: 11px; padding-top: 3px; margin: 206px 0 0 224px; width: 216px; }
.character-sheet #rat2 .ammo { margin: 206px 0 0 341px; width: 99px; }
.character-sheet #mat1 { display: block !important; }
.character-sheet #mat1 .name { font-size: 11px; padding-top: 3px; margin: 265px 0 0 224px; width: 140px; }
.character-sheet #mat1 .mat { margin: 277px 0 0 375px; width: 25px; text-align: center; }
.character-sheet #mat1 .pow {}
.character-sheet #mat1 .ps { margin: 277px 0 0 409px; width: 25px; text-align: center; }
.character-sheet #mat1 .notes { font-size: 11px; padding-top: 3px; margin: 289px 0 0 224px; width: 140px; }
.character-sheet #mat2 { display: block !important; }
.character-sheet #mat2 .name { font-size: 11px; padding-top: 3px; margin: 327px 0 0 224px; width: 140px; }
.character-sheet #mat2 .mat { margin: 339px 0 0 375px; width: 25px; text-align: center; }
.character-sheet #mat2 .pow {}
.character-sheet #mat2 .ps { margin: 339px 0 0 409px; width: 25px; text-align: center; }
.character-sheet #mat2 .notes { font-size: 11px; padding-top: 3px; margin: 351px 0 0 224px; width: 140px; }
.character-sheet #mat3 { display: block !important; }
.character-sheet #mat3 .name { font-size: 11px; padding-top: 3px; margin: 415px 0 0 171px; width: 160px; }
.character-sheet #mat3 .mat { margin: 429px 0 0 375px; width: 25px; text-align: center; }
.character-sheet #mat3 .pow {}
.character-sheet #mat3 .ps { margin: 429px 0 0 409px; width: 25px; text-align: center; }
.character-sheet #mat3 .notes { font-size: 11px; padding-top: 3px; margin: 439px 0 0 171px; width: 160px; }
.character-sheet #mat3 .free { margin: 429px 0 0 341px; width: 25px; text-align: center; }
.character-sheet #defracialmodifier { margin: 496px 0 0 289px; width: 34px; font-size: 20px; text-align: center; }
.character-sheet #defequipmentmodifiers { margin: 496px 0 0 344px; width: 34px; font-size: 20px; text-align: center; }
.character-sheet #def { margin: 496px 0 0 399px; width: 34px; font-size: 20px; text-align: center; }
.character-sheet #armshieldmodifier { margin: 554px 0 0 231px; width: 34px; font-size: 20px; text-align: center; }
.character-sheet #armarmormodifiers { margin: 554px 0 0 288px; width: 34px; font-size: 20px; text-align: center; }
.character-sheet #armothermodifiers { margin: 554px 0 0 344px; width: 34px; font-size: 20px; text-align: center; }
.character-sheet #arm { margin: 554px 0 0 399px; width: 34px; font-size: 20px; text-align: center; }
.character-sheet #iniequipmentmodifiers { margin: 611px 0 0 289px; width: 34px; font-size: 20px; text-align: center; }
.character-sheet #iniadditionalmodifiers { margin: 611px 0 0 344px; width: 34px; font-size: 20px; text-align: center; }
.character-sheet #ini { margin: 611px 0 0 399px; width: 34px; font-size: 20px; text-align: center; }
.character-sheet #cmdcommandskill { margin: 668px 0 0 289px; width: 34px; font-size: 20px; text-align: center; }
.character-sheet #cmdabilitymodifier { margin: 668px 0 0 344px; width: 34px; font-size: 20px; text-align: center; }
.character-sheet #cmd { margin: 668px 0 0 399px; width: 34px; font-size: 20px; text-align: center; }
.character-sheet .skill .title { font-size: 11px; padding-top: 3px; margin: 2px 0 0 460px; width: 105px; }
.character-sheet .skill .base { margin: 2px 0 0 570px; width: 15px; text-align: center; }
.character-sheet .skill .lvl { margin: 2px 0 0 609px; width: 15px; text-align: center; }
.character-sheet .skill .sum { margin: 2px 0 0 643px; width: 15px; text-align: center; }
.character-sheet .skill { position: absolute; }
.character-sheet #s1 { margin-top: 120px; }
.character-sheet #s2 { margin-top: 141px; }
.character-sheet #s3 { margin-top: 162px; }
.character-sheet #s4 { margin-top: 184px; }
.character-sheet #s5 { margin-top: 205px; }
.character-sheet #s6 { margin-top: 226px; }
.character-sheet #s7 { margin-top: 247px; }
.character-sheet #s8 { margin-top: 269px; }
.character-sheet #s9 { margin-top: 290px; }
.character-sheet #s10 { margin-top: 311px; }
.character-sheet #s11 { margin-top: 332px; }
.character-sheet #s12 { margin-top: 353px; }
.character-sheet #s13 { margin-top: 374px; }
.character-sheet #s14 { margin-top: 396px; }
.character-sheet #s15 { margin-top: 417px; }
.character-sheet #s16 { margin-top: 438px; }
.character-sheet #s17 { margin-top: 459px; }
.character-sheet #s18 {}
.character-sheet #s19 {}
.character-sheet #s20 {}
.character-sheet #s21 {}
.character-sheet .ability { position: absolute; }
.character-sheet .ability .title { font-size: 11px; padding-top: 3px; margin-left: 689px; width: 285px; }
.character-sheet .ability .description { font-size: 11px; padding-top: 3px; margin-left: 796px; width: 178px; }
.character-sheet .ability .page { margin-left: 946px; width: 28px; text-align: right; }
.character-sheet #ability1 { margin-top: 135px; }
.character-sheet #ability2 { margin-top: 156px; }
.character-sheet #ability3 { margin-top: 177px; }
.character-sheet #ability4 { margin-top: 198px; }
.character-sheet #ability5 { margin-top: 219px; }
.character-sheet #ability6 { margin-top: 240px; }
.character-sheet #ability7 { margin-top: 261px; }
.character-sheet #ability8 { margin-top: 282px; }
.character-sheet #ability9 { margin-top: 303px; }
.character-sheet #ability10 { margin-top: 324px; }
.character-sheet #ability11 { margin-top: 345px; }
.character-sheet #ability12 { margin-top: 366px; }
.character-sheet #ability13 { margin-top: 387px; }
.character-sheet #ability14 { margin-top: 408px; }
.character-sheet #ability15 { margin-top: 429px; }
.character-sheet #ability16 { margin-top: 450px; }
.character-sheet #ability17 { margin-top: 471px; }
.character-sheet #ability18 { margin-top: 492px; }
.character-sheet #ability19 { margin-top: 513px; }
.character-sheet #ability20 { margin-top: 534px; }
.character-sheet #feats { font-size: 40px; margin: 606px 0 0 698px; width: 51px; text-align: center; }

.character-sheet .gear { position: absolute; margin-left: 5px; }
.character-sheet .gear .title { font-size: 11px; padding-top: 3px; width: 285px; }
.character-sheet .gear .benefit { font-size: 11px; padding-top: 3px; margin-left: 125px; width: 160px; }
.character-sheet #gear1 { margin-top: 35px; }
.character-sheet #gear2 { margin-top: 55px; }
.character-sheet #gear3 { margin-top: 75px; }
.character-sheet #gear4 { margin-top: 94px; }
.character-sheet #gear5 { margin-top: 114px; }
.character-sheet #gear6 { margin-top: 134px; }
.character-sheet #gear7 { margin-top: 154px; }
.character-sheet #gear8 { margin-top: 174px; }
.character-sheet #gear9 { margin-top: 194px; }
.character-sheet #gear10 { margin-top: 214px; }
.character-sheet #gear11 { margin-top: 234px; }
.character-sheet #gear12 { margin-top: 254px; }
.character-sheet #gear13 { margin-top: 273px; }
.character-sheet #gear14 { margin-top: 293px; }
.character-sheet #gear15 { margin-top: 313px; }
.character-sheet #gear16 { margin-top: 333px; }
.character-sheet #gear17 { margin-top: 353px; }
.character-sheet #gear18 { margin-top: 373px; }
.character-sheet #gear19 { margin-top: 393px; }
.character-sheet .wornarmor { position: absolute; margin-left: 5px; }
.character-sheet .wornarmor .name { font-size: 11px; padding-top: 3px; width: 183px; }
.character-sheet .wornarmor .notes { font-size: 11px; padding-top: 3px; margin-left: 75px; width: 108px; }
.character-sheet .wornarmor .spd { margin-left: 186px; width: 17px; text-align: center; }
.character-sheet .wornarmor .def { margin-left: 225px; width: 17px; text-align: center; }
.character-sheet .wornarmor .arm { margin-left: 260px; width: 17px; text-align: center; }
.character-sheet #wornarmor1 { margin-top: 465px; }
.character-sheet #wornarmor2 { margin-top: 485px; }
.character-sheet #wornarmor3 { margin-top: 505px; }
.character-sheet #wornarmor4 { margin-top: 525px; }
.character-sheet .connection { position: absolute; margin-left: 5px; }
.character-sheet .connection .name { font-size: 11px; padding-top: 3px; width: 286px; }
.character-sheet .connection .notes { font-size: 11px; padding-top: 3px; margin-left: 98px; width: 188px; }
.character-sheet .connection .page { margin-left: 238px; width: 48px; text-align: right; }
.character-sheet #connection1 { margin-top: 597px; }
.character-sheet #connection2 { margin-top: 617px; }
.character-sheet #connection3 { margin-top: 637px; }
.character-sheet #connection4 { margin-top: 657px; }
.character-sheet #arcanetradition { position: absolute; margin: 9px 0 0 398px; width: 256px; }
.character-sheet .spell { position: absolute; margin-left: 312px; }
.character-sheet .spell .title { font-size: 11px; padding-top: 3px; width: 134px; }
.character-sheet .spell .cost { margin-left: 140px; width: 33px; text-align: center; }
.character-sheet .spell .rng { margin-left: 178px; width: 32px; text-align: center; }
.character-sheet .spell .aoe { margin-left: 215px; width: 32px; text-align: center; }
.character-sheet .spell .pow { margin-left: 252px; width: 33px; text-align: center; }
.character-sheet .spell .up { margin-left: 290px; width: 32px; text-align: center; }
.character-sheet .spell .off { margin-left: 327px; width: 28px; text-align: center; }
.character-sheet .spell .description { font-size: 11px; padding-top: 3px; margin-top: 23px; width: 355px; }
.character-sheet #spell1 { margin-top: 47px; }
.character-sheet #spell2 { margin-top: 97px; }
.character-sheet #spell3 { margin-top: 147px; }
.character-sheet #spell4 { margin-top: 197px; }
.character-sheet #spell5 { margin-top: 247px; }
.character-sheet #spell6 { margin-top: 296px; }
.character-sheet #spell7 { margin-top: 345px; }
.character-sheet #spell8 { margin-top: 395px; }
.character-sheet .iku .mechanika { display: none; }
.character-sheet .mechanika { position: absolute; margin-left: 312px; }
.character-sheet .mechanika .housing { font-size: 11px; padding-top: 3px; width: 84px; }
.character-sheet .mechanika .runeplate { font-size: 11px; padding-top: 3px; margin-left: 90px; width: 84px; }
.character-sheet .mechanika .capacitor { font-size: 11px; padding-top: 3px; margin-left: 180px; width: 84px; }
.character-sheet .mechanika .notes { font-size: 11px; padding-top: 3px; margin-left: 270px; width: 84px; }
.character-sheet #mechanika1 { margin-top: 483px; }
.character-sheet #mechanika2 { margin-top: 503px; }
.character-sheet #mechanika3 { margin-top: 523px; }
.character-sheet #mechanika4 { margin-top: 543px; }
.character-sheet #mechanika5 { margin-top: 563px; }
.character-sheet .iku .runeplate { display: none; }
.character-sheet .runeplate { position: absolute; margin-left: 312px; }
.character-sheet .runeplate .title { font-size: 11px; padding-top: 3px; width: 84px; }
.character-sheet .runeplate .benefit { font-size: 11px; padding-top: 3px; margin-left: 90px; width: 78px; }
.character-sheet #runeplate1 { margin-top: 601px; }
.character-sheet #runeplate2 { margin-top: 621px; }
.character-sheet #runeplate3 { margin-top: 641px; }
.character-sheet #runeplate4 { margin-top: 661px; }
.character-sheet .iku .capacitor { display: none; }
.character-sheet .capacitor { position: absolute; margin-left: 498px; }
.character-sheet .capacitor .title { font-size: 11px; padding-top: 3px; width: 78px; }
.character-sheet .capacitor .charges { font-size: 11px; padding-top: 3px; margin-left: 84px; width: 84px; }
.character-sheet #capacitor1 { margin-top: 601px; }
.character-sheet #capacitor2 { margin-top: 621px; }
.character-sheet #capacitor3 { margin-top: 641px; }
.character-sheet #capacitor4 { margin-top: 661px; }
.character-sheet .note { position: absolute; margin-left: 698px; }
.character-sheet .note .text { font-size: 11px; padding-top: 3px; width: 265px; }
.character-sheet #note1 { margin-top: 35px; }
.character-sheet #note2 { margin-top: 54px; }
.character-sheet #note3 { margin-top: 73px; }
.character-sheet #note4 { margin-top: 92px; }
.character-sheet #note5 { margin-top: 110px; }
.character-sheet #note6 { margin-top: 129px; }
.character-sheet #note7 { margin-top: 148px; }
.character-sheet #note8 { margin-top: 166px; }
.character-sheet #note9 { margin-top: 185px; }
.character-sheet #note10 { margin-top: 204px; }
.character-sheet #note11 { margin-top: 223px; }
.character-sheet #note12 { margin-top: 242px; }
.character-sheet #permanentinjury1 { position: absolute; font-size: 11px; padding-top: 3px; margin-top: 307px; margin-left: 698px; width: 265px; }
.character-sheet #permanentinjury2 { position: absolute; font-size: 11px; padding-top: 3px; margin-top: 327px; margin-left: 698px; width: 265px; }
.character-sheet #permanentinjury3 { position: absolute; font-size: 11px; padding-top: 3px; margin-top: 347px; margin-left: 698px; width: 265px; }
.character-sheet #spokenlanguage1 { position: absolute; font-size: 11px; padding-top: 3px; margin-top: 408px; margin-left: 698px; width: 265px; }
.character-sheet #spokenlanguage2 { position: absolute; font-size: 11px; padding-top: 3px; margin-top: 428px; margin-left: 698px; width: 265px; }
.character-sheet #spokenlanguage3 { position: absolute; font-size: 11px; padding-top: 3px; margin-top: 448px; margin-left: 698px; width: 265px; }
.character-sheet #religiousbelief1 { position: absolute; font-size: 11px; padding-top: 3px; margin-top: 509px; margin-left: 698px; width: 265px; }
.character-sheet #religiousbelief2 { position: absolute; font-size: 11px; padding-top: 3px; margin-top: 529px; margin-left: 698px; width: 265px; }
.character-sheet #religiousbelief3 { position: absolute; font-size: 11px; padding-top: 3px; margin-top: 549px; margin-left: 698px; width: 265px; }
.character-sheet #gold { position: absolute; margin-top: 610px; margin-left: 698px; font-size: 50px; width: 100px; text-align: right; }


ul.ui-autocomplete {
    z-index: 1000;
    position: absolute;
    font-size: 13px;
    margin: 0 !important;
    padding: 0 !important;
    margin-left: -1px;
    width: 140px !important;
    max-height: 200px;
    color: black;
    list-style-type: none;
    overflow-y: scroll;
    border: 2px solid black;
}

ul.ui-autocomplete li.ui-menu-item {
    margin: 0 !important;
    padding: 0 3px !important;
    white-space: nowrap;
    overflow: hidden;
}

ul.ui-autocomplete li.ui-menu-item:not(:first-of-type) {
    border-top: 2px solid black;
}

ul.ui-autocomplete li.ui-menu-item:nth-of-type(2n) {
    background-color: #F0F7EB;
}

ul.ui-autocomplete li.ui-menu-item:nth-of-type(2n-1) {
    background-color: #CEE4BD;
}

ul.ui-autocomplete li.ui-state-focus {
    font-weight: bold;
    cursor: pointer;
}

.ui-helper-hidden-accessible {
    display: none;
}


.character-generator-table input[type="text"] {
    width: 400px;
}

.character-generator-table select {
    width: 406px;
}


@media print {
    html { zoom: 140%; }
    form.character-sheet {
        margin: 200px 0 0 -130px;
        display: inline-block;
        -webkit-transform: rotate(-90deg); 
        -moz-transform:rotate(-90deg);
        filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }
    form.character-sheet.page2 {
        margin-top: 228px; }
}