div.FixedHeader_Cloned table.full,
section.content table.full {
    width: 100%; }
div.FixedHeader_Cloned img.right,
div.FixedHeader_Cloned table.right,
section.content img.right,
section.content table.right {
    float: right;
    margin-left: 1em;
    margin-right: 0; }
div.FixedHeader_Cloned table.left,
section.content table.left {
    float: left;
    margin-left: 0;
    margin-right: 1em; }
div.FixedHeader_Cloned table.text-left,
section.content table.text-left {
    text-align: left; }
div.FixedHeader_Cloned  table.text-right,
section.content table.text-right {
    text-align: right; }
div.FixedHeader_Cloned table,
section.content table {
    margin: 2em auto 1em auto;
    text-align: center;
    outline-style: solid;
    outline-width: 0.15em; }
div.FixedHeader_Cloned table th,
div.FixedHeader_Cloned table td,
section.content table th,
section.content table td {
    padding: 0.7em 0.5em 0.5em 0.5em;
    line-height: 1em;
    vertical-align: middle; }
div.FixedHeader_Cloned table th,
section.content table th {
    font-weight: normal;
    white-space: nowrap; }
div.FixedHeader_Cloned table tr > td:not(:first-of-type),
section.content table tr > td:not(:first-of-type) {
    border-left-style: solid;
    border-left-width: 0.15em; }
div.FixedHeader_Cloned table:not(.col-menu) td,
div.FixedHeader_Cloned table.col-menu td:not(:first-of-type),
section.content table:not(.col-menu) td,
section.content table.col-menu td:not(:first-of-type) {
    border-top-style: solid;
    border-top-width: 0.15em; }
div.FixedHeader_Cloned table th:not(:first-of-type),
section.content table th:not(:first-of-type) {
    border-left-style: solid;
    border-left-width: 0.15em; }
div.FixedHeader_Cloned table th,
div.FixedHeader_Cloned table.col-menu td:first-of-type,
section.content table th,
section.content table.col-menu td:first-of-type {
    text-transform: uppercase; }
div.FixedHeader_Cloned table th,
div.FixedHeader_Cloned table.col-menu td:first-of-type,
section.content table th,
section.content table.col-menu td:first-of-type {
    font-size: 0.9em; }
div.FixedHeader_Cloned table > thead > tr:not(:first-of-type),
div.FixedHeader_Cloned table.col-menu td:first-of-type,
section.content table > thead > tr:not(:first-of-type),
section.content table.col-menu td:first-of-type {
    border-top-style: solid;
    border-top-width: 0.15em; }

div.FixedHeader_Cloned table.race,
section.content table.race {
    outline: none; }
div.FixedHeader_Cloned table.race > thead > tr:not(:first-of-type),
section.content table.race > thead > tr:not(:first-of-type) {
    border-top: 0; }
div.FixedHeader_Cloned table.race > thead > tr:first-of-type > th,
section.content table.race > thead > tr:first-of-type > th {
    padding-top: 0;
    font-size: 1.3em;
    font-weight: bold; }
div.FixedHeader_Cloned table.race tr:nth-of-type(3n+1) > td:first-of-type,
section.content table.race tr:nth-of-type(3n+1) > td:first-of-type {
    font-weight: bold; }
div.FixedHeader_Cloned table.race th:not(:first-of-type),
div.FixedHeader_Cloned table.race td,
section.content table.race th:not(:first-of-type),
section.content table.race td {
    width: 3em;
    border-style: solid; 
    border-width: 0.15em; }
div.FixedHeader_Cloned table.race th:nth-of-type(7),,
div.FixedHeader_Cloned table.race td:nth-of-type(7),,
div.FixedHeader_Cloned table.race th:nth-of-type(3),,
div.FixedHeader_Cloned table.race td:nth-of-type(3) ,
section.content table.race th:nth-of-type(7),
section.content table.race td:nth-of-type(7),
section.content table.race th:nth-of-type(3),
section.content table.race td:nth-of-type(3) {
    width: 0.5em;
    padding: 0;
    border: 0; }



/* CAREER */

div.FixedHeader_Cloned table.career,
section.content table.career {
    outline: 0; }
div.FixedHeader_Cloned table.career tr:not(:nth-of-type(3)):not(:nth-of-type(8)),
section.content table.career tr:not(:nth-of-type(3)):not(:nth-of-type(8)) {
    border-style: solid;
    border-width: 0.15em; }
div.FixedHeader_Cloned table.career tr:nth-of-type(3) > td,
div.FixedHeader_Cloned table.career tr:nth-of-type(8) > td,
section.content table.career tr:nth-of-type(3) > td,
section.content table.career tr:nth-of-type(8) > td {
    font-size: 0.5em;
    padding: 0; }
div.FixedHeader_Cloned table.career tr > td:nth-of-type(2),
section.content table.career tr > td:nth-of-type(2) {
    text-align: left; }
div.FixedHeader_Cloned table.career tr:nth-of-type(n):not(:nth-of-type(3)):not(:nth-of-type(8)) > td:not(:first-of-type),
section.content table.career tr:nth-of-type(n):not(:nth-of-type(3)):not(:nth-of-type(8)) > td:not(:first-of-type) {
    border-style: solid;
    border-width: 0.15em; }
div.FixedHeader_Cloned table.career tr:nth-of-type(n):not(:nth-of-type(3)):not(:nth-of-type(8)) > td:first-of-type,
section.content table.career tr:nth-of-type(n):not(:nth-of-type(3)):not(:nth-of-type(8)) > td:first-of-type {
    font-size: 0.9em;
    text-transform: uppercase; }
div.FixedHeader_Cloned table.career tr:nth-of-type(n+5) > td:first-of-type,
div.FixedHeader_Cloned table.career tr:nth-of-type(2) > td:first-of-type,
section.content table.career tr:nth-of-type(n+5) > td:first-of-type,
section.content table.career tr:nth-of-type(2) > td:first-of-type {
    border-top-style: solid;
    border-top-width: 0.15em; }
div.FixedHeader_Cloned table.career tr:nth-of-type(9) > td:nth-of-type(n),
section.content table.career tr:nth-of-type(9) > td:nth-of-type(n) {
    border-top-style: solid;
    border-top-width: 0.15em; }


/* COLORS */

div.FixedHeader_Cloned table,
section.content table {
    color: #1A1A1A;
    outline-color: #1A1A1A; }
div.FixedHeader_Cloned table:not(.col-menu) td,
div.FixedHeader_Cloned table.col-menu td:not(:first-of-type),
section.content table:not(.col-menu) td,
section.content table.col-menu td:not(:first-of-type) {
    border-color: #1A1A1A; }
div.FixedHeader_Cloned table.col-menu th:not(:first-of-type),
section.content table.col-menu th:not(:first-of-type) {
    border-color: #FCFDF6; }
div.FixedHeader_Cloned table th,
div.FixedHeader_Cloned table.col-menu td:first-of-type,
section.content table th,
section.content table.col-menu td:first-of-type {
    color: #FCFDF6;
    background-color: #1A1A1A; }
div.FixedHeader_Cloned table > thead > tr:not(:first-of-type),
div.FixedHeader_Cloned table.col-menu > thead + tbody td:first-of-type,
section.content table > thead > tr:not(:first-of-type),
section.content table.col-menu > thead + tbody td:first-of-type {
    border-top-color: #FCFDF6; }

.hero-dark {
    background-color: #CEE4BD !important; }
div.FixedHeader_Cloned table.hero > tbody > tr:nth-of-type(2n+1),
section.content table.hero > tbody > tr:nth-of-type(2n+1) {
    background-color: #CEE4BD; }
.hero-light {
    background-color: #F0F7EB !important; }
div.FixedHeader_Cloned table.hero > tbody > tr:nth-of-type(2n),
section.content table.hero > tbody > tr:nth-of-type(2n) {
    background-color: #F0F7EB; }

.veteran-dark {
    background-color: #DEBDAD !important; }
div.FixedHeader_Cloned table.veteran > tbody > tr:nth-of-type(2n+1),
section.content table.veteran > tbody > tr:nth-of-type(2n+1) {
    background-color: #DEBDAD; }
.veteran-light {
    background-color: #F5EBE6 !important; }
div.FixedHeader_Cloned table.veteran > tbody > tr:nth-of-type(2n),
section.content table.veteran > tbody > tr:nth-of-type(2n) {
    background-color: #F5EBE6; }

.epic-dark {
    background-color: #D4E2FF !important; }
div.FixedHeader_Cloned table.epic > tbody > tr:nth-of-type(2n+1),
section.content table.epic > tbody > tr:nth-of-type(2n+1) {
    background-color: #D4E2FF; }
.epic-light {
    background-color: #F2F6FF !important; }
div.FixedHeader_Cloned table.epic > tbody > tr:nth-of-type(2n),
section.content table.epic > tbody > tr:nth-of-type(2n) {
    background-color: #F2F6FF; }

div.FixedHeader_Cloned table.levels > tbody > tr:nth-of-type(4n+2),
section.content table.levels > tbody > tr:nth-of-type(4n+2) {
    background-color: #CEE4BD; }
div.FixedHeader_Cloned table.levels > tbody > tr:nth-of-type(4n+3),
section.content table.levels > tbody > tr:nth-of-type(4n+3) {
    background-color: #DEBDAD; }
div.FixedHeader_Cloned table.levels > tbody > tr:nth-of-type(4n),
section.content table.levels > tbody > tr:nth-of-type(4n) {
    background-color: #D4E2FF; }

div.FixedHeader_Cloned table.race > thead > tr:first-of-type > th,
section.content table.race > thead > tr:first-of-type > th {
    color: #1A1A1A; }
div.FixedHeader_Cloned table.race th:first-of-type,
section.content table.race th:first-of-type {
    background-color: transparent;
    border-color: #1A1A1A; }
div.FixedHeader_Cloned table.race td:first-of-type,
section.content table.race td:first-of-type {
    color: #FCFDF6;
    background-color: #1A1A1A; }
div.FixedHeader_Cloned table.race tr:nth-of-type(3n+1) > td:nth-of-type(2),
section.content table.race tr:nth-of-type(3n+1) > td:nth-of-type(2) {
    background-color: #CEE4BD; }
div.FixedHeader_Cloned table.race tr:nth-of-type(3n+2) > td:nth-of-type(2),
div.FixedHeader_Cloned table.race tr:nth-of-type(3n) > td:nth-of-type(2),
section.content table.race tr:nth-of-type(3n+2) > td:nth-of-type(2),
section.content table.race tr:nth-of-type(3n) > td:nth-of-type(2) {
    background-color: #F0F7EB; }
div.FixedHeader_Cloned table.race tr:nth-of-type(3n+1) > td:nth-of-type(n+4):nth-of-type(-n+6),
section.content table.race tr:nth-of-type(3n+1) > td:nth-of-type(n+4):nth-of-type(-n+6) {
    background-color: #DEBDAD; }
div.FixedHeader_Cloned table.race tr:nth-of-type(3n+2) > td:nth-of-type(n+4):nth-of-type(-n+6),
div.FixedHeader_Cloned table.race tr:nth-of-type(3n) > td:nth-of-type(n+4):nth-of-type(-n+6),
section.content table.race tr:nth-of-type(3n+2) > td:nth-of-type(n+4):nth-of-type(-n+6),
section.content table.race tr:nth-of-type(3n) > td:nth-of-type(n+4):nth-of-type(-n+6) {
    background-color: #F5EBE6; }
div.FixedHeader_Cloned table.race tr:nth-of-type(3n+1) > td:nth-of-type(8),
section.content table.race tr:nth-of-type(3n+1) > td:nth-of-type(8) {
    background-color: #D4E2FF; }
div.FixedHeader_Cloned table.race tr:nth-of-type(3n+2) > td:nth-of-type(8),
div.FixedHeader_Cloned table.race tr:nth-of-type(3n) > td:nth-of-type(8),
section.content table.race tr:nth-of-type(3n+2) > td:nth-of-type(8),
section.content table.race tr:nth-of-type(3n) > td:nth-of-type(8) {
    background-color: #F2F6FF; }
div.FixedHeader_Cloned table.race th:not(:first-of-type),
div.FixedHeader_Cloned table.race td,
section.content table.race th:not(:first-of-type),
section.content table.race td {
    border-color: #1A1A1A; }
div.FixedHeader_Cloned table.race th:nth-of-type(7),
div.FixedHeader_Cloned table.race td:nth-of-type(7),
div.FixedHeader_Cloned table.race th:nth-of-type(3),
div.FixedHeader_Cloned table.race td:nth-of-type(3),
section.content table.race th:nth-of-type(7),
section.content table.race td:nth-of-type(7),
section.content table.race th:nth-of-type(3),
section.content table.race td:nth-of-type(3) {
    background-color: transparent; }

div.FixedHeader_Cloned table.career tr:not(:nth-of-type(3)):not(:nth-of-type(8)),
section.content table.career tr:not(:nth-of-type(3)):not(:nth-of-type(8)) {
    border-color: #1A1A1A; }
div.FixedHeader_Cloned table.career tr:nth-of-type(n):not(:nth-of-type(3)):not(:nth-of-type(8)) > td:not(:first-of-type),
section.content table.career tr:nth-of-type(n):not(:nth-of-type(3)):not(:nth-of-type(8)) > td:not(:first-of-type) {
    border-color: #1A1A1A; }
div.FixedHeader_Cloned table.career tr:nth-of-type(n):not(:nth-of-type(3)):not(:nth-of-type(8)) > td:first-of-type,
section.content table.career tr:nth-of-type(n):not(:nth-of-type(3)):not(:nth-of-type(8)) > td:first-of-type {
    color: #FCFDF6;
    background-color: #1A1A1A; }
div.FixedHeader_Cloned table.career tr:nth-of-type(n+5) > td:first-of-type,
div.FixedHeader_Cloned table.career tr:nth-of-type(2) > td:first-of-type,
section.content table.career tr:nth-of-type(n+5) > td:first-of-type,
section.content table.career tr:nth-of-type(2) > td:first-of-type {
    border-top-color: #FCFDF6; }
div.FixedHeader_Cloned table.career tr:nth-of-type(1) > td:nth-of-type(2),
section.content table.career tr:nth-of-type(1) > td:nth-of-type(2) {
    background-color: #CEE4BD; }
div.FixedHeader_Cloned table.career tr:nth-of-type(2) > td:nth-of-type(2),
section.content table.career tr:nth-of-type(2) > td:nth-of-type(2) {
    background-color: #F0F7EB; }
div.FixedHeader_Cloned table.career tr:nth-of-type(2n+4):nth-of-type(-2n+8) > td:nth-of-type(2),
section.content table.career tr:nth-of-type(2n+4):nth-of-type(-2n+8) > td:nth-of-type(2) {
    background-color: #DEBDAD; }
div.FixedHeader_Cloned table.career tr:nth-of-type(2n+5):nth-of-type(-2n+7) > td:nth-of-type(2),
section.content table.career tr:nth-of-type(2n+5):nth-of-type(-2n+7) > td:nth-of-type(2) {
    background-color: #F5EBE6; }
div.FixedHeader_Cloned table.career tr:nth-of-type(2n+9) > td:nth-of-type(2),
section.content table.career tr:nth-of-type(2n+9) > td:nth-of-type(2) {
    background-color: #D4E2FF; }
div.FixedHeader_Cloned table.career tr:nth-of-type(2n+10) > td:nth-of-type(2),
section.content table.career tr:nth-of-type(2n+10) > td:nth-of-type(2) {
    background-color: #F2F6FF; }
div.FixedHeader_Cloned table.career tr:nth-of-type(9) > td:nth-of-type(n),
section.content table.career tr:nth-of-type(9) > td:nth-of-type(n) {
    border-top-color: #1A1A1A; }
    
/* FILTERS */

tr.filters th {
    padding: 0.4em 0 !important; }
tr.filters input.column_filter {
    font-size: 16px;
    margin: 0;
    padding: 0.2em 0.4em;
    width: 90%;
    box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
    text-align: center;
    color: #FCFDF6;
    border: 0; }

::-webkit-input-placeholder {
    font-family: Helvetica;
    font-weight: 300;
    color: #FCFDF6; }

:-moz-placeholder { /* Firefox 18- */
    font-style: italic;
    font-weight: 300;
    color: #FCFDF6; }

::-moz-placeholder {  /* Firefox 19+ */
    font-style: italic;
    font-weight: 300;
    color: #FCFDF6; }

:-ms-input-placeholder {  
    font-style: italic;
    font-weight: 300;
    color: #FCFDF6; }
    
input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color: transparent; }

table.hero tr.filters input.column_filter {
    background-color: transparent; }
table.veteran tr.filters input.column_filter {
    background-color: transparent; }
table.epic tr.filters input.column_filter {
    background-color: transparent; }